<div class="modal fade" id="addEventoModal" tabindex="-1" aria-labelledby="addEventoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addEventoModalLabel">Adicionar Cliente ao Evento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="clienteId" id="clienteId" value="@ViewBag.ClienteId" />

                <div class="mb-3">
                    <label for="clienteId" class="form-label">Selecione o Cliente</label>
                    <select class="form-select" name="eventoId" id="eventoId" placeholder="Selecione um evento" required>
                        @if (ViewBag.EventosDisponiveis.Count > 0)
                        {
                            @foreach (var evento in ViewBag.EventosDisponiveis)
                            {
                                <option value="@evento.Id">@evento.Nome</option>
                            }
                        }
                        else
                        {
                            <option value="" disabled selected>-- Nenhum Evento apto ou ativo --</option>
                        }
                    </select>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="btnAdicionarEvento">Adicionar Evento</button>
                </div>
            </div>
        </div>
    </div>
</div>